*{
    margin:0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: row;
    width: 100vw;
    align-items: stretch;
} 

main{
    flex:1;
}

.filter-div{
    background-color: rgba(0, 0, 0, 0.404);
    height: 12vh;
    min-height: 100px;
}

.ad-container{
    width: 80%;
    background-color: red;
    margin:auto;
    display: flex;
    height: 250px;
}

.ad-container > .img-container{
    flex:5;
    background-color: orange;
}

.ad-container > .data-container{
    flex:10;
}

#background-overlay{
    display: none;
}

#background-overlay.active{
    position: fixed;
    display: block;
    top:0;
    width: 100vw;
    height: 100vh;
    right: 0;
    background-color: rgba(0, 0, 0, 0.604); 
}

#addNewAdModal{
    display: none;
    z-index: 1;
}

#addNewAdModal.active{
    width: 60vw;
    min-width: 400px;
    height: 400px;
    background-color: chartreuse;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display: block;
    padding: 20px;
}

.addNewAdModalTitle{
    text-align: center;
}

.close-modal-btn{
    position: absolute;
    top:0;
    right:0;
    background-color: red;
    cursor: pointer;
    padding: 20px;
}

#addNewAdModal.active > form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(6, 1fr);
    width: 100%;
    height: 100%;
}

#addNewAdModal.active > form > input[type='submit']{
    grid-column: span 2;
}

#addNewAdModal.active > form > input{
    width: 70%;
    margin: auto;
    min-width: 200px;
}



/* SIDE MENU */
.side-menu{
    width: 15vw;
    min-width: 150px;
    max-width: 300px;
    background-color: rgba(0, 0, 0, 0.404);
    padding: 10px;
}

.username-div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    color:white;
    align-items: center;
    font-size: 1.5em;
}

.side-menu  button{
    display: flex;
    width: 100%;
    height: 45px;
    justify-content: flex-start;
}

.side-menu button > svg{
    margin-right: 10px;
}

.side-menu ul > li{
    margin-bottom: 20px;
}

.username-div > svg{
    margin-right: 10px;
    width: 34px;
    height: 34px;
} 

.newAd-div svg{
    width: 28px;
    height: 28px;
}

.edit-profile-div svg{
    width: 28px;
    height: 28px;
}

.delete-profile-div svg{
    width: 28px;
    height: 28px;
}

.logout-div svg{
    width: 28px;
    height: 28px;
}